* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
}
/* 드래그 방지 */
body {
    margin-bottom: 0px;
    font-family: 'Noto Sans KR';
}
.wrap {
    max-width: 1350px;
    margin: 0 auto;
}
.modal-open .wrap {
    display: none;
}

// 스크롤
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    border: none;
    box-shadow: 0;
}
::-webkit-scrollbar-thumb {
    background-color: #787878;
    border-radius: 40px;
}

.not_scroll {
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

header {
    z-index: 999;
    position: relative;
}

nav {
    position: fixed;
    top: 20px;
    width: 100%;
    padding: 12px 20px;
    .wrap {
        padding-right: 20px;
    }
    .nav_btns {
        display: flex;
        justify-content: flex-end;
    }
    .dropdown_menu {
        display: none;
    }
    &.active {
        z-index: 999;
        animation: fadeInDown 1s;
        .wrap {
            padding: 10px 20px;
            background-color: #efebe1;
            border-radius: 20px;
            .nav_btns {
                .menu_btn {
                    background-color: #e3dccb;
                    .icon_menu {
                        background-image: url(../img/icon/icon_menu02.png);
                        background-position: 7px 14px;
                    }
                }
                .select_box {
                    display: none;
                }
            }
            .dropdown_menu {
                display: block;
                ul {
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;
                    li {
                        width: 180px;
                        text-align: center;
                        position: relative;
                        &::after {
                            content: '';
                            display: inline-block;
                            width: 1px;
                            height: 13px;
                            background-color: #000;
                            position: absolute;
                            right: 0;
                            top: 7px;
                        }
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                        a {
                            display: inline-block;
                            font-size: 1rem;
                            font-weight: 300;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}

.main_tit {
    h1 {
        font-family: 'Shrikhand';
        font-size: 85px;
        line-height: 100px;
        color: #000;
    }
}

/* icon */
.icon_arrow_r {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: #1d1f21;
    border-radius: 50%;
    &::after {
        content: '';
        width: 22px;
        height: 22px;
        display: inline-block;
        background-image: url(../img/icon/icon_right_arrow.png);
        background-repeat: no-repeat;
        background-size: 15px auto;
        background-position: 4px 7px;
    }
}
.icon_menu {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url(../img/icon/icon_menu.png);
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: 7px 9px;
}
.icon_right_arrow {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: #e3dccb;
    border-radius: 50%;
    margin: 0px 5px 0px;
    background-image: url(../img/icon/icon_right_arrow.png);
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: 4px 7px;
    vertical-align: top;
}

.icon_a_01 {
    display: inline-block;
    width: 200px;
    height: 369px;
    background-image: url(../img/icon/icon_a_01.png);
    background-repeat: no-repeat;
}
.icon_z_01 {
    display: inline-block;
    width: 200px;
    height: 369px;
    background-image: url(../img/icon/icon_z_01.png);
    background-repeat: no-repeat;
}
.icon_scroll {
    display: inline-block;
    border: 1px solid #787878;
    width: 15px;
    height: 330px;
}

/* button type */
.button_type_01 {
    display: inline-block;
    position: relative;
    height: 30px;
    background-color: #efebe1;
    border-radius: 40px;
    padding: 0px 0px 0px 15px;
    transition: all 1s;
    span {
        font-size: 15px;
        line-height: 15px;
        color: #000;
        font-weight: 300;
        display: inline-block;
        vertical-align: top;
        margin: 8px 5px 0 0;
    }
    .icon_right_arrow {
        margin-top: 4px;
    }
    &:hover {
        transform: scale(1.05);
        transition: all 300ms ease-in;
    }
}

.button_type_02 {
    height: 24px;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 12px;
    padding: 0px 15px;
    white-space: nowrap;
    text-align: center;
    span {
        display: inline-block;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #000;
        vertical-align: top;
        margin-top: 4px;
    }
}
.button_type_03 {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-radius: 60px;
    span {
        font-size: 22px;
        line-height: 22px;
        color: #000;
        font-weight: 300;
    }
}

.menu_btn {
    width: 30px;
    height: 30px;
    background-color: #efebe1;
    border-radius: 50%;
    transition: all 1s;
    &:hover {
        transform: scale(1.15);
        transition: all 300ms ease-in;
    }
}

.main_btn {
    background-color: #efebe1;
    border-radius: 15px;
    height: 30px;
    button {
        padding: 6px 30px 0;
        span {
            vertical-align: top;
            display: inline-block;
            font-size: 15px;
            font-weight: 300;
            line-height: 18px;
            color: #000;
        }
        &.active {
            background-color: #e3dccb;
            border-radius: 15px;
        }
    }
}

/* input type */

/* select type */
.select_box {
    width: 115px;
    height: 30px;
    position: relative;
    background-color: #efebe1;
    border-radius: 40px;
    cursor: pointer;
    transition: all 1s;
    &:hover {
        transform: scale(1.05);
        transition: all 300ms ease-in;
    }

    .label {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 15px;
        line-height: 15px;
        color: #000;
        font-weight: 300;
        position: relative;
        cursor: pointer;
        padding-left: 15px;
        &::after {
            content: '';
            position: absolute;
            right: 0;
            display: inline-block;
            width: 22px;
            height: 22px;
            background: #e3dccb;
            border-radius: 50%;
            margin: 0px 5px 0px;
            background-image: url(../img/icon/icon_right_arrow.png);
            background-repeat: no-repeat;
            background-size: 15px auto;
            background-position: 4px 7px;
        }
    }
    .optionList {
        position: absolute;
        top: 35px;
        left: 0;
        width: 100%;
        background-color: #efebe1;
        border-radius: 10px;
        overflow: hidden;
        max-height: 0;
        transition: 0.3s ease-in;
        li {
            padding: 6px 15px;
            transition: 0.1s;
            font-size: 15px;
            line-height: 15px;
            color: #000;
            font-weight: 300;
            &:hover {
                background: #e3dccb;
            }
        }
    }
    &.active {
        .optionList {
            max-height: 500px;
        }
    }
}

/* checked 버튼 */

// slider_wrap
.slider_wrap {
    display: flex;
    justify-content: center;
    button {
        .icon_slide {
            width: 10px;
            height: 10px;
            display: inline-block;
            border: 1px solid #787878;
            border-radius: 50%;
            &.active {
                border: 0;
                background-color: #787878;
            }
        }
        &:nth-child(n + 2) {
            margin-left: 20px;
        }
    }
}

// content_type_01
.content_type_01 {
    .img_wrap {
        width: 100%;
        height: 350px;
        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border: 1px solid #707070;
            border-radius: 20px;
            background: #fff;
        }
    }
    .txt_wrap {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        p {
            font-size: 1.375rem;
            line-height: 24px;
            color: #000;
        }
    }
}

// animation
.ani_updown {
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: 1.5s all ease;
    &.active {
        transform: translateY(0);
        opacity: 1;
    }
}

/* common */
.w_0_1 {
    width: 100%;
}

.w_1_1 {
    width: calc(80% - 5px);
}

.w_2_1 {
    width: calc(75% - 5px);
}

.w_3_1 {
    width: calc(66.6% - 5px);
}

.w_4_1 {
    width: calc(60% - 5px);
}

.w_5_1 {
    width: calc(50% - 5px);
}

.w_6_1 {
    width: calc(40% - 5px);
}

.w_7_1 {
    width: calc(33.3% - 5px);
}

.w_8_1 {
    width: calc(25% - 5px);
}

.w_9_1 {
    width: calc(20% - 5px);
}

.mgT0 {
    margin-top: 0px;
}

.mgT5 {
    margin-top: 5px;
}

.mgT10 {
    margin-top: 10px;
}

.mgT20 {
    margin-top: 20px;
}

.mgT30 {
    margin-top: 30px;
}

.mgT40 {
    margin-top: 40px;
}

.mgT50 {
    margin-top: 50px;
}

.mgT60 {
    margin-top: 60px;
}

.mgT70 {
    margin-top: 70px;
}

.mgT80 {
    margin-top: 80px;
}

.mgT100 {
    margin-top: 100px;
}

.mgR0 {
    margin-right: 0px;
}

.mgR5 {
    margin-right: 5px;
}

.mgR10 {
    margin-right: 10px;
}

.mgR15 {
    margin-right: 15px !important;
}

.mgR20 {
    margin-right: 20px;
}

.mgR30 {
    margin-right: 30px;
}

.mgR40 {
    margin-right: 40px;
}

.mgR50 {
    margin-right: 50px;
}

.mgR60 {
    margin-right: 60px;
}

.mgR80 {
    margin-right: 80px;
}

.mgR100 {
    margin-right: 100px;
}

.mgB0 {
    margin-bottom: 0px;
}

.mgB5 {
    margin-bottom: 5px;
}

.mgB10 {
    margin-bottom: 10px;
}

.mgB20 {
    margin-bottom: 20px;
}

.mgB30 {
    margin-bottom: 30px;
}

.mgB40 {
    margin-bottom: 40px;
}

.mgB50 {
    margin-bottom: 50px;
}

.mgB80 {
    margin-bottom: 80px;
}

.mgB100 {
    margin-bottom: 100px;
}

.mgL0 {
    margin-left: 0px;
}

.mgL5 {
    margin-left: 5px;
}

.mgL10 {
    margin-left: 10px;
}

.mgL15 {
    margin-left: 15px;
}

.mgL20 {
    margin-left: 20px;
}

.mgL30 {
    margin-left: 30px;
}

.mgL40 {
    margin-left: 40px;
}

.mgL50 {
    margin-left: 50px;
}

.mgL55 {
    margin-left: 55px;
}

.mgL60 {
    margin-left: 60px;
}

.mgL80 {
    margin-left: 80px;
}

.mgL100 {
    margin-left: 100px;
}

.mgL200 {
    margin-left: 200px;
}

.pd0 {
    padding: 0px !important;
}

.pd30 {
    padding: 30px !important;
}

.pd10 {
    padding: 10px 0px 0px;
}

.pd15 {
    padding: 15px 0px 0px !important;
}

.pd25 {
    padding: 2px 25px !important;
}

.pdT0 {
    padding-top: 0px !important;
}

.pdT5 {
    padding-top: 5px;
}

.pdT10 {
    padding-top: 10px;
}

.pdT14 {
    padding-top: 14px !important;
}

.pdT15 {
    padding-top: 15px !important;
}

.pdT20 {
    padding-top: 20px;
}

.pdT30 {
    padding-top: 30px;
}

.pdT40 {
    padding-top: 40px;
}

.pdT50 {
    padding-top: 50px;
}

.pdT80 {
    padding-top: 80px;
}

.pdT100 {
    padding-top: 100px;
}

.pdR0 {
    padding-right: 0px;
}

.pdR5 {
    padding-right: 5px;
}

.pdR10 {
    padding-right: 10px;
}

.pdR20 {
    padding-right: 20px;
}

.pdR30 {
    padding-right: 30px;
}

.pdR40 {
    padding-right: 40px;
}

.pdR50 {
    padding-right: 50px;
}

.pdR80 {
    padding-right: 80px;
}

.pdR100 {
    padding-right: 100px;
}

.pdB0 {
    padding-bottom: 0px;
}

.pdB5 {
    padding-bottom: 5px;
}

.pdB10 {
    padding-bottom: 10px !important;
}

.pdB14 {
    padding-bottom: 14px !important;
}

.pdB20 {
    padding-bottom: 20px !important;
}

.pdB30 {
    padding-bottom: 30px !important;
}

.pdB40 {
    padding-bottom: 40px;
}

.pdB50 {
    padding-bottom: 50px;
}

.pdB80 {
    padding-bottom: 80px;
}

.pdB100 {
    padding-bottom: 100px;
}

.pdL0 {
    padding-left: 0px;
}

.pdL5 {
    padding-left: 5px;
}

.pdL10 {
    padding-left: 10px;
}

.pdL20 {
    padding-left: 20px;
}

.pdL30 {
    padding-left: 30px;
}

.pdL40 {
    padding-left: 40px;
}

.pdL50 {
    padding-left: 50px;
}

.pdL80 {
    padding-left: 80px;
}

.pdL100 {
    padding-left: 100px;
}

.pdL200 {
    padding-left: 200px;
}

.opacity50 {
    opacity: 50%;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overflowHidden {
    overflow: hidden !important;
}

.verticalTop {
    vertical-align: top;
}

.txtRight {
    text-align: right !important;
}

.txtLift {
    text-align: left !important;
}

.txtCenter {
    text-align: center;
}

.fw_bold {
    font-weight: 600;
}

.cursorNo {
    cursor: none !important;
}

.hidden {
    display: initial !important;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}

.block {
    display: block !important;
}

.inline {
    display: inline-block !important;
}

.flex {
    display: flex !important;
}

/* width */
.wAuto {
    width: auto !important;
}

.w1p {
    width: 1%;
}

.w2p {
    width: 2%;
}

.w3p {
    width: 3%;
}

.w4p {
    width: 4%;
}

.w5p {
    width: 5%;
}

.w6p {
    width: 6%;
}

.w7p {
    width: 7%;
}

.w8p {
    width: 8%;
}

.w9p {
    width: 9%;
}

.w10p {
    width: 10%;
}

.w11p {
    width: 11%;
}

.w12p {
    width: 12%;
}

.w13p {
    width: 13%;
}

.w14p {
    width: 14%;
}

.w15p {
    width: 15%;
}

.w16p {
    width: 16%;
}

.w17p {
    width: 17%;
}

.w18p {
    width: 18%;
}

.w19p {
    width: 19%;
}

.w20p {
    width: 20%;
}

.w21p {
    width: 21%;
}

.w22p {
    width: 22%;
}

.w23p {
    width: 23%;
}

.w24p {
    width: 24%;
}

.w25p {
    width: 25%;
}

.w26p {
    width: 26%;
}

.w27p {
    width: 27%;
}

.w28p {
    width: 28%;
}

.w29p {
    width: 29%;
}

.w30p {
    width: 30%;
}

.w31p {
    width: 31%;
}

.w32p {
    width: 32%;
}

.w33p {
    width: 33%;
}

.w34p {
    width: 34%;
}

.w35p {
    width: 35%;
}

.w36p {
    width: 36%;
}

.w37p {
    width: 37%;
}

.w38p {
    width: 38%;
}

.w39p {
    width: 39%;
}

.w40p {
    width: 40%;
}

.w41p {
    width: 41%;
}

.w42p {
    width: 42%;
}

.w43p {
    width: 43%;
}

.w44p {
    width: 44%;
}

.w45p {
    width: 45%;
}

.w46p {
    width: 46%;
}

.w47p {
    width: 47%;
}

.w48p {
    width: 48%;
}

.w49p {
    width: 49%;
}

.w50p {
    width: 50%;
}

.w51p {
    width: 51%;
}

.w52p {
    width: 52%;
}

.w53p {
    width: 53%;
}

.w54p {
    width: 54%;
}

.w55p {
    width: 55%;
}

.w56p {
    width: 56%;
}

.w57p {
    width: 57%;
}

.w58p {
    width: 58%;
}

.w59p {
    width: 59%;
}

.w60p {
    width: 60%;
}

.w61p {
    width: 61%;
}

.w62p {
    width: 62%;
}

.w63p {
    width: 63%;
}

.w64p {
    width: 64%;
}

.w65p {
    width: 65%;
}

.w66p {
    width: 66%;
}

.w67p {
    width: 67%;
}

.w68p {
    width: 68%;
}

.w69p {
    width: 69%;
}

.w70p {
    width: 70%;
}

.w71p {
    width: 71%;
}

.w72p {
    width: 72%;
}

.w73p {
    width: 73%;
}

.w74p {
    width: 74%;
}

.w75p {
    width: 75%;
}

.w76p {
    width: 76%;
}

.w77p {
    width: 77%;
}

.w78p {
    width: 78%;
}

.w79p {
    width: 79%;
}

.w80p {
    width: 80%;
}

.w81p {
    width: 81%;
}

.w82p {
    width: 82%;
}

.w83p {
    width: 83%;
}

.w84p {
    width: 84%;
}

.w85p {
    width: 85%;
}

.w86p {
    width: 86%;
}

.w87p {
    width: 87%;
}

.w88p {
    width: 88%;
}

.w89p {
    width: 89%;
}

.w90p {
    width: 90%;
}

.w91p {
    width: 91%;
}

.w92p {
    width: 92%;
}

.w93p {
    width: 93%;
}

.w94p {
    width: 94%;
}

.w95p {
    width: 95%;
}

.w96p {
    width: 96%;
}

.w97p {
    width: 97%;
}

.w98p {
    width: 98%;
}

.w99p {
    width: 99%;
}

.w100p {
    width: 100% !important;
}

.w120px {
    width: 120px !important;
}
